.header {
  background-color: #fff;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.nav {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1449px;
  width: 100%;
}
.logo {
  height: 43px;
  margin-left: 40px;
  width: 255px;
}

.nav-link {
  color: #000;
  font-weight: 800;
  text-decoration: none;
}
.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 40px;
}
.nav-menu-item {
  font-size: 18px;
  line-height: 80px;
  margin: 0 10px;
  width: max-content;
}
#gafq {
  margin-right: 0px;
}
.nav-menu-link {
  padding: 8px 12px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #fabf44;
  transition: 0.5s;
}
@media (min-width: 768px) and (max-width: 990px) {
  .logo {
    height: 43px;
    margin-left: 40px;
    width: auto;
  }
}

/* TOGGLE */
.nav-toggle {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 30px;
  line-height: 60px;
  padding: 0 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  nav-menu-link:hover,
  nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  body {
    padding-top: 70px;
  }
  .header {
    height: 60px;
  }
  .logo {
    margin-left: 10px;
  }

  .nav-menu {
    align-items: center;
    background-color: #247ba0;
    flex-direction: column;
    height: calc(100% - 60px);
    left: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 30px 0;
    position: fixed;
    top: 60px;
    transition: left 0.3s;
    width: 100%;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link_active {
    background: none;
    color: #fabf44;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
}
